@import "tailwindcss";

body {
  background-color: black;
  color: white;
  height: 1000px;
  overflow-x: hidden;
}

@font-face {
  font-family: 'HelveticaNeueBlack';
  src: url('./assets/fonts/HelveticaNeueBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
